.heroBgImage {
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.container-fluid {
  --bs-gutter-x: 0;
}

.heroTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 98.52%;

  color: #ffffff;
}

.searchInput {
  background-image: url("../../assets/magnifyingGlass.svg");
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 3px;
}
